<html>
<head>
<title>/ascii/</title>
<link rel="stylesheet" href="/static/format.css">
</head>

<body>

<h1>/ascii/</h1>

<form method="post" id="artForm">
  <table>
    <tr>
      <label>
        <td>title</td>
        <td><input type="text" id="title" name="title" value="{{.FormTitle}}"></td>
      </label>
    </tr>

    <tr>
      <label>
        <td>art</td>
        <td><textarea id="art" name="art">{{.FormArt}}</textarea></td>
      </label>
    </tr>

    <tr>
      <td></td>
      <td><div id="error">{{.Error}}</div></td>
    </tr>

    <tr>
      <td></td>
      <td><input type="submit"></td>
    </tr>

  </table>
</form>

{{range .PrettyArts}}
  <b>{{.Title}}</b><br>
  <pre>{{.Art}}</pre><br>
{{end}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>

/*
function isBlank(input) {
  input = input.trim();

  if (input.length == 0) {
    return true;
  } else {
    return false;
  }
}
*/

$("#artForm").submit(function() {
    $("#error").val("title and art cannot be blank");
    return false;
});
</script>

</body>
</html>
